.padlock {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 30px;
    height: 450px;
    justify-content: center;
    box-shadow:
    7px 7px 16px 0 rgba(0, 0, 0, 0.25),
    -7px -7px 16px 0 rgba(255, 255, 255, 0.3);
    border-radius: 30px;
    padding: 20px;
}

.shank,
.body {
    height: 200px;
    background-color: #9e9e9e;
}

.shank {
    z-index: 0;
    transform: translateY(35px);
    width: 270px;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    position: relative;
    clip-path: polygon(59% 100%, 59% 83%, 100% 83%, 100% 0%, 1% 0%, 0% 100%);
}

.shank::before {
    position: absolute;
    content: '';
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    background-color: #d3d3d3;
    width: 200px;
    height: 165px;
    border-top-left-radius: 45%;
    border-top-right-radius: 45%;

}

.body {
    z-index: 1;
    width: 300px;

}


